certifi==2023.11.17
configparser==6.0.0
contourpy==1.2.0
cycler==0.12.1
fonttools==4.45.1
importlib-resources==6.1.1
interchange==2021.0.4
kiwisolver==1.4.5
matplotlib==3.8.2
monotonic==1.6
networkx==3.2.1
numpy==1.26.2
packaging==23.2
pansi==2020.7.3
Pillow==10.1.0
py2neo==2021.2.4
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
urllib3==2.1.0
zipp==3.17.0
